services:
  yolo11_noetic:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: yolo11_noetic
    network_mode: host
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility,video
      - ROS_MASTER_URI=http://127.0.0.1:11311
      - ROS_IP=127.0.0.1
    deploy:
      resources:
        reservations:
          devices:
            - capabilities: [gpu]
    devices:
      - /dev/video0:/dev/video0
    volumes:
      - ./catkin_ws:/catkin_ws
    command: bash -lc "cd /catkin_ws && catkin build && roslaunch yolo11_ros yolo11_usb.launch"
